/* * {
  border: red solid 1px;
} */

html { 
  background: url(./images/spaceBackground.jpg) repeat-y center top fixed; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  overflow-y: visible;
  animation: slide 300s linear infinite;
  overscroll-behavior: none;
}

.Twinkle-wrapper {
  background-image: url(./images/dots.png);
  background-size: 5vmin 20vmin;
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: repeat;
  overflow-y: scroll;
  display: flex;
}

body {
  overscroll-behavior: none;
}

@keyframes slide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -2943px;
  }
}

.Dropdown {
  position: fixed;
  overflow-x: hidden;
}

.Dropdown-button {
  width: 4vmin;
  height: 6vmin;
  position: fixed;
  right: 5.5vmin;
  top: 2vmin;
  transition: transform 1s ease-in-out;
}

.Dropdown-button:hover {
  transform: rotate(180deg);
}

.Dropdown-content {
  display: block;
  color: white;
  right: -11vmin;
  position: fixed;
  top: 8vmin;
  text-align: center;
  font-family: tahoma;
  font-weight: bold;
  transition: 1s ease-in-out;
}

.Dropdown-content p {
  border-bottom: .3vmin white solid;
  padding-bottom: 1vmin;
}

.Dropdown:hover .Dropdown-content {
  display: block;
  right: 2.5vmin;
}


