* {
  /* border: red solid 1px; */
  font-family: tahoma;
  color: white;
  font-weight: bolder;
}


/* background Styling */

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

html { 
  background: url(./images/spaceBackground.jpg) repeat-y center top fixed; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  overflow-y: visible;
  animation: slide 300s linear infinite;
  overscroll-behavior: none;
}

.Twinkle-wrapper {
  background-image: url(./images/dots.png);
  background-size: 5vmin 20vmin;
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: repeat;
  overflow-y: scroll;
  display: flex;
}

body {
  overscroll-behavior: none;
}

@keyframes slide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -2943px;
  }
}


/* Nav menu styling */

.Dropdown {
  position: fixed;
  overflow-x: hidden;
}

.Dropdown-button {
  width: 4vmin;
  height: 6vmin;
  position: fixed;
  right: 5.5vmin;
  top: 2vmin;
  transition: transform 1s ease-in-out;
}

.Dropdown-button:hover {
  transform: rotate(180deg);
}

.Dropdown-content {
  display: block;
  color: white;
  right: -20vmin;
  position: fixed;
  top: 8vmin;
  text-align: center;
  font-weight: bold;
  transition: 1s ease-in-out;
}

.Dropdown-content p {
  border-bottom: .3vmin white solid;
  padding-bottom: 1vmin;
}

.Dropdown:hover .Dropdown-content {
  display: block;
  right: 2.5vmin;
}


/* secret styling */

.Secret-wrapper {
  font-size: 2vmin;
  position: fixed;
  left: 2vmin;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#hidden {
  width: auto;
  max-width: 0%;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 1s linear;
}

.Secret-wrapper:hover #hidden {
  max-width: 100%;
}

.Secret-wrapper:hover .Warp {
  display: block;
  animation: fadeIn ease 2s;
}

/* .Secret-wrapper:hover::after > .Warp {
  display: block;
  animation: fadeOut ease 2s;
} */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
} */

/* @-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
} */


.Warp-cropper {
  width: 11vmin;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 50%;
}

.Warp {
  display: none;
  margin: 0 auto;
  margin-left: -40%;
  width: 20vmin;
  opacity: 1;
}



